.certifications-container {
  width: 350px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.certification-card {
  background-color: var(--box-color);
  padding: 1.8rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  height: 450px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.certification-quote {
  display: inline-flex;
  font-size: 1.5rem;
  color: var(--skin-color);
  margin-bottom: var(--mb-1);
}

.swiper-pagination-bullet {
  background: #3f3e3e !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--skin-color) !important;
}

@media screen and (max-width: 400px) {
  .certification-card {
    transform: scale(0.8);
    margin-top: -40px;
    margin-bottom: 15px;
  }

}