.container {
  max-width: 1250px;
  margin-left: 40px;
  margin-right: auto;
}
.grid {
  display: grid;
}
.home {
  background: url("../../assets/images/ree.png");
  background-size: cover;
  height: 100vh;
  background-position: center center;
}
.home-container {
  position: relative;
  height: 100%;
  align-items: center;
}
.home-social {
  position: absolute;
  top: 1.8rem;
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}
.home-social-follow {
  font-weight: var(--font-medium);
  position: relative;
}
.home-social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--text-color);
  right: -45%;
  top: 50%;
}
.home-social-links {
  display: inline-flex;
  column-gap: 1.5rem;
}
.home-social-link {
  font-size: 1.08rem;
  color: var(--text-color);
  transition: 0.4s;
}
.home-social-link:hover {
  transform: translateY(0.25rem);
  color: var(--skin-color);
}
.home-img {
  display: none;
}
.home-title-name {
  font-size: var(--biggest-font-size);
}
.home-subtitle {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  margin-top: 5px;
}
.home-subtitle-typed {
  color: var(--skin-color);
}
.home-description {
  text-align: justify;
  max-width: 450px;
  margin-bottom: var(--mb-2);
}
.my-info {
  display: flex;
  column-gap: 1.8rem;
  position: absolute;
  left: 0;
  bottom: 1.8rem;
}

.info-item {
  display: flex;
  align-items: center;
  /* padding-left: 16px; */
  padding-right: 10px;
  /* padding-top: 10px; */
  padding-bottom: 7px;
  /* border-radius: 8px;
  border: 2px solid;
  background: #0a0a0f; */
}

.info-title,
.info-subtitle {
  font-size: var(--small-font-size);
}
.info-icon {
  font-size: 1.8rem;
  color: var(--skin-color);
  margin-right: var(--mb-0-75);
}
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--skin-color);
  color: var(--title-color);
  padding: 0.75rem 1.4rem;
  border-radius: 0.25rem;
  font-weight: var(--font-medium);
  position: relative;
  z-index: 1;
  transition: 0.4s;
}
.button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #343a40;
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 0.25rem;
  transition: 0.3s;
}
.button:hover::after {
  transform: scale(1);
}
.button-icon {
  font-size: 1.25rem;
}

@media screen and (max-width: 1408px) {
  .container {
    margin-left: var(--mb-2-5);
    margin-right: var(--mb-2-5);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 768px) {
  .my-info .info-item:first-child {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .home {
    background-color: #16161e;
    background-image: none;
    height: initial;
    align-items: initial;
    padding: 7rem 0 2rem;
  }

  .home-container {
    row-gap: 2rem;
  }

  .home-img {
    display: block;
    width: 270px;
    justify-self: center;
    margin-left: -35px;
    margin-top: -10px;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    animation: profile_animate 8s ease-in-out infinite 1s;
  }

  @keyframes profile_animate {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  .home-social {
    left: initial;
    right: -0.8rem;
    flex-direction: column;
    row-gap: 3.5rem;
    margin-top: -30px;
  }

  .home-social-follow {
    font-size: var(--smaller-font-size);
    transform: rotate(90deg);
  }

  .home-social-links {
    flex-direction: column;
    row-gap: 0.25rem;
  }

  .home-social-links {
    font-size: var(--normal-font-size);
  }

  .my-info {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .home-description {
    text-align: justify;
    max-width: 450px;
    margin-bottom: var(--mb-2);
    line-height: 1.8;
    margin-top: 20px;
  }
  .home-subtitle {
    margin-top: 15px;
  }
  .home-social {
    right: -1rem;
  }
}
@media screen and (max-width: 350px) {
  .home-img {
    width: 200px;
    margin-left: -55px;
  }
  .home-social {
    margin-top: -44px;
    right: -1.5rem;
  }
}

@media screen and (max-width: 380px) {
  .home-img {
    display: block;
    width: 250px;
    justify-self: center;
    margin-left: -40px;
    margin-top: 0px;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    animation: profile_animate 8s ease-in-out infinite 1s;
  }

  @keyframes profile_animate {
    0% {
      border-radius: 80% 40% 90% 90%/80% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 80% 40% 90% 90%/80% 30% 70% 40%;
    }
  }
}

.btn-resume {
  margin-left: 20px;
}

@media screen and (max-width: 397px) {
  .btn-resume {
    margin-top: 20px;
    margin-left: 0px;
    /* width: 185.5px; */
  }
  .btn-resume-icon {
    margin-right: 1.5px;
  }
  .btn-more {
    margin-right: 20px;
  }
}

.btn-resume{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: transparent;
  color: var(--title-color);
  padding: 0.6rem 1.4rem;
  border-radius: 0.25rem;
  font-weight: var(--font-medium);
  position: relative;
  z-index: 1;
  transition: 0.4s;
  border: 2px solid var(--skin-color);
}

.btn-resume::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--skin-color);
  z-index: -1;
  transform-origin: center;
  transform: scale(0);
  border-radius: 0.25rem;
  transition: 0.3s;
}
.btn-resume:hover::after {
  transform: scale(1);
}