.work-container{
    grid-template-columns: repeat(3,330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.work-filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work-item{
    cursor: pointer;
    columns: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work-card{
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
    
}

.work-img{
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
    transition: transform .5s ease;
}
.work-img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.work-title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.links-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-bottom: -8px;
}

.work-button{
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work-button-icon{
    font-size: 1rem;
    transition: .3s;
}

.work-button:hover .work-button-icon{
    transform: translate(.25rem);
}

.active-work{
    background-color: var(--skin-color);
    color: var(--title-color);
}


@media screen and (max-width: 1216px) {
    .work-container{
        grid-template-columns: repeat(2, 330px);
        gap: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .work-container{
        grid-template-columns: 330px;
    }
}

@media screen and (max-width: 576px) {
    .work-container{
        grid-template-columns: 300px;
    }
  }

  @media screen and (max-width: 310px) {
    .work-container{
        grid-template-columns: 250px;
    }
  }



  .coming-soon-h1{
    display: flex;
    column-gap: 25px;
  }
  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
    margin-top: 20px;
  }
  .dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #ffffff;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
  }
  
  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px;
    }
    30% {
      box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9984px 0 0 -5px;
    }
  }
  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px;
    }
    30% {
      box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 9999px 0 0 -5px;
    }
  }
  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px;
    }
    30% {
      box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
      box-shadow: 10014px 0 0 -5px;
    }
  }




  .dot-flashing {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #ffffff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    margin-top: 20px;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #ffffff;
    }
    50%, 100% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }


  .dot-collision {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 8px;
  }
  .dot-collision::before, .dot-collision::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-collision::before {
    left: -7px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    animation: dot-collision-before 2s infinite ease-in;
  }
  .dot-collision::after {
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
    animation: dot-collision-after 2s infinite ease-in;
    animation-delay: 1s;
  }
  
  @keyframes dot-collision-before {
    0%, 50%, 75%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-15px);
    }
  }
  @keyframes dot-collision-after {
    0%, 50%, 75%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(15px);
    }
  }