.sidebar {
  position: fixed;
  width: 100px;
  height: 100vh;
  background-color: var(--body-color);
  border-right: 1px solid var(--box-color);
}
.nav-logo {
  width: 70px;
  position: absolute;
  left: 1.3rem;
  right: 0;
  top: 0.9rem;
  text-align: center;
}

.nav-menu {
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 100vh;
  top: 18px;
}

.menu {
  display: flex;
}

.nav-list {
  display: flex;
  flex-direction: row-reverse;
  margin: -2px auto 0 auto;
}

.nav-link {
  float: right;
  height: 100%;
  line-height: 100px;
  padding: 0 .6rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  position: relative;
  transition: .4s;
}

.nav-link.active-link,
.nav-link:hover {
  color: var(--skin-color);
}

.nav-link.active-link::after,
.nav-link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
} 

.btn-share{
    position: absolute;
    bottom: .8rem;
    left: 0;
    right: 0;
    text-align: center;
}
.share-icon{
    font-size: 1.5rem;
    cursor: pointer;
}
.share-icon:hover{
    color: var(--skin-color);
}